<template>
    <div id="bar-chart">
        <pure-vue-chart
        :points="cols"
        :show-y-axis="false"
        :show-x-axis="true"
        :width="800"
        :height="200"
        :show-values="true"
        />
    </div>
</template>
<script>
// import PureVueChart from 'pure-vue-chart';
import PureVueChart from './PureVueChart.vue';
export default {
    name: 'bar-chart',
    props: ['cols'],
    data: function () {
        return {
            // cols: [{label: 'N', value: 41.1}, {label: 'NW', value: 2}, {label: 'W', value: 15}]
        }
    },
    methods: {
        change: function () {
            // this.cols = [{label: 'NN', value: 41.1}, {label: 'NW', value: 2}, {label: 'W', value: 15}];
        }
    },
    components: {
        PureVueChart,
    },
}
</script>