<template>
    <div id="bar-chart">
        <bars
            :data="cols"
            :gradient="['#6fa8dc', '#42b983']"
            :barWidth="5"
            :growDuration="1"
            :height="300"
            :width="600">
        </bars>
    </div>
</template>
<script>
import Bars from 'vuebars'
export default {
    name: 'bar-chart',
    props: ['cols'],
    components: {
        Bars,
    },
}
</script>