<template>
    <ol>
        <li v-for="word in words" v-bind:key="word[0]">
            {{ word[0]}}({{word[1]}})
        </li>
    </ol>
</template>

<script>
export default {
    name: 'order-list',
    props: ['words'],
}
</script>

