<template>
    <div id="bar-progress">
        <progress-bar :val="val" :text="text"></progress-bar>
    </div>
</template>

<script>
import ProgressBar from 'vue-simple-progress'

export default {
    name: 'bar-progress',
    props: ['val'],
    computed: {
        text: function () {
            return this.val ? this.val.toString() + '%' : ''
        }
    },
    components: {
        ProgressBar
    }
}
</script>