<template>
    <div id="histtable">
        <vue-bootstrap4-table :rows="rows" :columns="columns" :config="config">
        </vue-bootstrap4-table>
    </div>
</template>

<script>
import VueBootstrap4Table from 'vue-bootstrap4-table'
export default {
    name: 'hist-table',
    props: ['rows'],
    data: function() {
        return {
			columns: [
                {
                    label: "Order",
                    name: "Order",
                    filter: {
                    type: "simple",
                    placeholder: "Order"
                    },
                    sort: true,
                    uniqueId: true
                },
                {
                    label: "Word",
                    name: "Word",
                    filter: {
                    type: "simple",
                    placeholder: "Word",
                    },
                    sort: true,
                    // slot_name: "my_duplicate_id_column"
                },
                {
                    label: "Count",
                    name: "Count",
                    filter: {
                    type: "simple",
                    placeholder: "Count",
                    case_sensitive: true
                    },
                    sort: true,
                },
			],
			actions: [
			],
			config: {
				pagination: true,
				pagination_info: true,
				num_of_visibile_pagination_buttons: 7,
				per_page: 10,
				checkbox_rows: true,
				highlight_row_hover: true,
				rows_selectable: true,
				multi_column_sort: false,
				// highlight_row_hover_color:"grey",
				card_title: "Vue Bootsrap 4 advanced table",
				card_mode: false,
				selected_rows_info: true,
				per_page_options: [5, 10, 20, 30],
			},
			classes: {
				table: "table-bordered table-striped"
			}
		};
	},
	components: {
		VueBootstrap4Table
	}
}
</script>