<template>
    <div id="wordcloud" style="height: 600px;position: relative;width: 100%;">
        <div
            :style="(progressVisible && progress)
                ? {
                    filter: 'blur(8px)',
                    opacity: 0.3,
                    pointerEvents: 'none',
                    transform: 'scale(0.7,0.7)',
                }
                : {}
            "
            style="bottom: 0;left: 0;position: absolute;right: 0;top: 0;transition-duration: 1s;"
        >
            <vue-word-cloud
                style="position:absolute"
                :animation-duration="animationDuration"
                :animation-easing="animationEasing"
                :animation-overlap="animationOverlap"
                :color="color"
                :enter-animation="enterAnimation"
                :font-family="fontFamily"
                :font-size-ratio="fontSizeRatio"
                :leave-animation="leaveAnimation"
                :load-font="loadFont"
                :progress.sync="progress"
                :rotation="rotation"
                :spacing="spacing"
                :words="words"
            >
                <template slot-scope="{text, weight, word}">
                    <div :title="text + '(' + weight + ')'" style="cursor: pointer;" @click="onWordClick(word)">
                    {{ text }}
                    </div>
                </template>
            </vue-word-cloud>
        </div>
        <v-scale-transition>
            <v-progress-circular
                
                v-if="progressVisible && progress"
                :rotate="-90"
                :size="200"
                :value="Math.ceil(progress.completedWords / progress.totalWords * 100)"
                :width="20"
                class="v-no-animation"
                color="primary"
                style="
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    position: absolute;
                    right: 0;
                    top: 0;
                "
            >{{ progress.completedWords }} of {{ progress.totalWords }}</v-progress-circular>
        </v-scale-transition>
    </div>
</template>

<script>
import VueWordCloud from 'vuewordcloud';
import FontFaceObserver from 'fontfaceobserver';
var Chance = require('chance');
var chance = new Chance();
var svgNS = 'http://www.w3.org/2000/svg';
export default {
    name: 'wordcloud',
    props: ['words'],
	data: function() {
		return {
			animation: undefined,
			animationDurationValueIndex: 2,
			animationDurationValues: [0, 1000, 5000, 10000],
			animationEasing: undefined,
			animationEasingValues: [
				'ease',
				'linear',
				'ease-in',
				'ease-out',
				'ease-in-out',
				'cubic-bezier(0.1,0.7,1.0,0.1)',
			],
			animationItems: [
				{
					text: 'bounce',
					value: ['bounceIn', 'bounceOut'],
				},
				{
					text: 'fade',
					value: ['fadeIn', 'fadeOut'],
				},
				{
					text: 'flipX',
					value: ['flipInX', 'flipOutX'],
				},
				{
					text: 'flipY',
					value: ['flipInY', 'flipOutY'],
				},
				{
					text: 'rotate',
					value: ['rotateIn', 'rotateOut'],
				},
				{
					text: 'zoom',
					value: ['zoomIn', 'zoomOut'],
				},
			],
			animationOverlapValueIndex: 1,
			animationOverlapValues: [0, 1/5, 1/2, 1],
			colorItemIndex: undefined,
			colorItems: [
				['#d99cd1', '#c99cd1', '#b99cd1', '#a99cd1'],
				['#403030', '#f97a7a'],
				['#31a50d', '#d1b022', '#74482a'],
				['#ffd077', '#3bc4c7', '#3a9eea', '#ff4e69', '#461e47'],
			],
			drawer: true,
			fontFamily: undefined,
			fontFamilyValues: [
				'Abril Fatface',
				'Annie Use Your Telescope',
				'Anton',
				'Bahiana',
				'Baloo Bhaijaan',
				'Barrio',
				'Finger Paint',
				'Fredericka the Great',
				'Gloria Hallelujah',
				'Indie Flower',
				'Life Savers',
				'Londrina Sketch',
				'Love Ya Like A Sister',
				'Merienda',
				'Nothing You Could Do',
				'Pacifico',
				'Quicksand',
				'Righteous',
				'Sacramento',
				'Shadows Into Light',
			],
			fontSizeRatioValueIndex: 0,
			fontSizeRatioValues: [0, 1/20, 1/5, 1/2, 1],
			progress: undefined,
			progressVisible: true,
			rotationItemIndex: undefined,
			rotationItems: [
				{
					value: 0,
					svg: (function() {
						var div = document.createElement('div');
						div.appendChild((function() {
							var svg = document.createElementNS(svgNS, 'svg');
							svg.setAttribute('viewBox', '0 0 12 12');
							svg.appendChild((function() {
								var path = document.createElementNS(svgNS, 'path');
								path.setAttribute('d', 'M0 7 L0 5 L12 5 L12 7 Z');
								return path;
							})());
							return svg;
						})());
						return URL.createObjectURL(new Blob([div.innerHTML]));
					})(),
				},
				{
					value: 7/8,
					svg: (function() {
						var div = document.createElement('div');
						div.appendChild((function() {
							var svg = document.createElementNS(svgNS, 'svg');
							svg.setAttribute('viewBox', '0 0 12 12');
							svg.appendChild((function() {
								var path = document.createElementNS(svgNS, 'path');
								path.setAttribute('d', 'M0 7 L0 5 L12 5 L12 7 Z');
								path.setAttribute('transform', 'rotate(315 6 6)');
								return path;
							})());
							return svg;
						})());
						return URL.createObjectURL(new Blob([div.innerHTML]));
					})(),
				},
				{
					value: function(word) {
						var chance = new Chance(word[0]);
						return chance.pickone([0, 3/4]);
					},
					svg: (function() {
						var div = document.createElement('div');
						div.appendChild((function() {
							var svg = document.createElementNS(svgNS, 'svg');
							svg.setAttribute('viewBox', '0 0 12 12');
							svg.appendChild((function() {
								var path = document.createElementNS(svgNS, 'path');
								path.setAttribute('d', 'M0 7 L0 5 L12 5 L12 7 Z');
								return path;
							})());
							svg.appendChild((function() {
								var path = document.createElementNS(svgNS, 'path');
								path.setAttribute('d', 'M0 7 L0 5 L12 5 L12 7 Z');
								path.setAttribute('transform', 'rotate(90 6 6)');
								return path;
							})());
							return svg;
						})());
						return URL.createObjectURL(new Blob([div.innerHTML]));
					})(),
				},
				{
					value: function(word) {
						var chance = new Chance(word[0]);
						return chance.pickone([0, 1/8, 3/4, 7/8]);
					},
					svg: (function() {
						var div = document.createElement('div');
						div.appendChild((function() {
							var svg = document.createElementNS(svgNS, 'svg');
							svg.setAttribute('viewBox', '0 0 12 12');
							svg.appendChild((function() {
								var path = document.createElementNS(svgNS, 'path');
								path.setAttribute('d', 'M0 7 L0 5 L12 5 L12 7 Z');
								return path;
							})());
							svg.appendChild((function() {
								var path = document.createElementNS(svgNS, 'path');
								path.setAttribute('d', 'M0 7 L0 5 L12 5 L12 7 Z');
								path.setAttribute('transform', 'rotate(45 6 6)');
								return path;
							})());
							svg.appendChild((function() {
								var path = document.createElementNS(svgNS, 'path');
								path.setAttribute('d', 'M0 7 L0 5 L12 5 L12 7 Z');
								path.setAttribute('transform', 'rotate(90 6 6)');
								return path;
							})());
							svg.appendChild((function() {
								var path = document.createElementNS(svgNS, 'path');
								path.setAttribute('d', 'M0 7 L0 5 L12 5 L12 7 Z');
								path.setAttribute('transform', 'rotate(315 6 6)');
								return path;
							})());
							return svg;
						})());
						return URL.createObjectURL(new Blob([div.innerHTML]));
					})(),
				},
				{
					value: function(word) {
						var chance = new Chance(word[0]);
						return chance.random();
					},
					svg: (function() {
						var div = document.createElement('div');
						div.appendChild((function() {
							var svg = document.createElementNS(svgNS, 'svg');
							svg.setAttribute('viewBox', '0 0 2 2');
							svg.appendChild((function() {
								var circle = document.createElementNS(svgNS, 'circle');
								circle.setAttribute('cx', 1);
								circle.setAttribute('cy', 1);
								circle.setAttribute('r', 1);
								return circle;
							})());
							return svg;
						})());
						return URL.createObjectURL(new Blob([div.innerHTML]));
					})(),
				}
			],
			snackbarText: '',
			snackbarVisible: false,
			spacingValueIndex: 1,
            spacingValues: [0, 1/4, 1/2, 1, 2],
		};
	},

	computed: {
		animationDuration: function() {
			return this.animationDurationValues[this.animationDurationValueIndex];
		},

		animationOverlap: function() {
			return this.animationOverlapValues[this.animationOverlapValueIndex];
		},

		color: function() {
			var colors = this.colorItems[this.colorItemIndex];
			return function() {
				return chance.pickone(colors);
			};
		},

		enterAnimation: function() {
			return ['animated', this.animation[0]].join(' ');
		},

		fontSizeRatio: function() {
			return this.fontSizeRatioValues[this.fontSizeRatioValueIndex];
		},

		leaveAnimation: function() {
			return ['animated', this.animation[1]].join(' ');
		},

		rotation: function() {
			var item = this.rotationItems[this.rotationItemIndex];
			return item.value;
		},

		spacing: function() {
			return this.spacingValues[this.spacingValueIndex];
		}
	},

	watch: {
		progress: function(currentProgress, previousProgress) {
			if (previousProgress) {
				this.progressVisible = false;
			}
		},
	},

	created: function() {
		this.animation = chance.pickone(this.animationItems).value;
		this.animationEasing = chance.pickone(this.animationEasingValues);
		this.colorItemIndex = chance.integer({min: 0, max: this.colorItems.length - 1});
		this.fontFamily = chance.pickone(this.fontFamilyValues);
		this.rotationItemIndex = chance.integer({min: 0, max: this.rotationItems.length - 1});
	},

	methods: {

		loadFont: function(fontFamily, fontStyle, fontWeight, text) {
			return (new FontFaceObserver(fontFamily, {style: fontStyle, weight: fontWeight})).load(text);
		},

		onWordClick: function(word) {
			this.snackbarVisible = true;
			this.snackbarText = word[0];
		},
    },
	components: {
		[VueWordCloud.name]: VueWordCloud
	}
}
</script>