<template>
  <div class="about">
    <h3>{{ $t("message.hello") }}, let click to WordCount link (right above this line) to go demo. Notice few extra features described in below:</h3>
    <div class="image-container">
      <v-flex xs12>
        <v-img
          :src="require('../assets/extra.png')"
          class="my-3"
          contain
          height="200"
          style="boder"
        ></v-img>
      </v-flex>
    </div>
    
  </div>
</template>
<style>
.image-container {
  border: solid 1px blue;
}
</style>

