<template>
  <div class="wordcount">
    <h3 id="instruction">{{ $t("message.instruction") }}</h3>
    
    <form id="main_form" method="POST" v-on:submit.prevent="deepCrawl">
        <textarea v-model="url" type="url" required id="main_form_input" rows="2" cols="100" name="text" placeholder="Type url here... (eg. https://www.jpf.go.jp/j/index.html)"></textarea>
        <br>
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input"  id="main_form_check" name="main_form_check" value="yes">Aggregate Result
        </label><br>
        <label for="deep">
            Deep crawling level: <input type="number" min="0" name="deep" id="deep-crawl-level" required v-model="deep">
        </label><br> 
        
        <input type="submit" v-bind:value=" $t('message.submit') " name="submit" class="btn btn-primary" ><br>
    </form>
    <p id="server_response_error" style="color: red;">{{status}}</p>
    <barprogress v-bind:val="progresVal"></barprogress>
    <div>
        <b-card no-body>
            <b-tabs card>
                <b-tab title="Table" active>
                    <histtable v-bind:rows="rows"></histtable>
                </b-tab>
                <b-tab title="Order List">
                    <orderlist v-bind:words="words"></orderlist>
                </b-tab>
                <b-tab  title="Word Cloud">
                    <wordcloud v-bind:words="words"></wordcloud>
                </b-tab>
                <b-tab title="Bar Chart">
                    <barchart v-bind:cols="points" ref="xxx"></barchart>
                </b-tab>
            </b-tabs>
        </b-card>
    </div>

  </div>
</template>
<script>
import histtable from '@/components/Table.vue'
import orderlist from '@/components/OrderList.vue'
import wordcloud from '@/components/WordCloud.vue'
import barchart from '@/components/BarChart.vue'
import barprogress from '@/components/ProgressBar.vue'
import axios from 'axios';
localStorage.apis = '[]';
const API_URL = process.env.VUE_APP_API_URL
const DEEP_CRAWL_URL = process.env.VUE_APP_DEEP_CRAWL_URL
// eslint-disable-next-line
console.log(DEEP_CRAWL_URL)
/* eslint-disable */
export default {
    name: 'wordcount',
    components: {
        histtable,
        orderlist,
        wordcloud,
        barchart,
        barprogress
    },
    data: function () {
        return {
            points: [],
            words: [],
            rows: [],
            url:'',
            status: '',
            wordText: '',
            progresVal: 0,
            deep: 0,
        }
    },
    computed: {
    },
    methods: {
        loadResult: function(data) {
            let rows = []
            let cols = []
            for (let i = 0; i < data.length; i++) {
                const element = data[i];
                var row = {
                    Order : i,
                    Word: element[0],
                    Count: element[1],
                }
                var col = {
                    'label': element[0],
                    // 'title': element[0],
                    'value': element[1],
                }
                rows.push(row)
                cols.push(col)
            }
            this.words = data
            this.rows = rows;
            this.points = cols.slice(0,10);
            // this.$refs.xxx.change(this.points);
            // eslint-disable-next-line
            /* eslint-disable */
        },
        incrementalCrawling: function(i, urls) {
            if (i > urls.length) {
                return;
            }
            let main_form_check = document.getElementById('main_form_check')
            let incrementalUrls = urls.slice(0, i)
            if (!main_form_check.checked) {
                this.clearHistory(API_URL);
            } else {
                incrementalUrls = this.getHistory(API_URL).concat(incrementalUrls);
                console.log(incrementalUrls);
            }
            axios
            .post(API_URL,
            {
                url: incrementalUrls,
            }).then(response => {
                this.saveHistory(API_URL, urls[i-1]);
                this.loadResult(response.data);
                this.progresVal = Math.max(this.progresVal, Math.ceil(100 * i /urls.length))
                this.incrementalCrawling(i + 1, urls)
                // let that = this
                // setTimeout(function () {
                //     that.progresVal = Math.ceil(100/(urls.length - i + 1))
                //     that.incrementalCrawling(i + 1, urls)
                // }, 1000)
                
            })
            .catch(function (error) {
                if (error.response) {
                    this.status = error.response.statusText + '! ' + error.response.data
                }
                // eslint-disable-next-line
                /* eslint-disable */
            })
        },
        validateUrl: function() {
            let regex = /^(http|https)/;
            if(this.url.length > 3 && !this.url.match(regex)) {
                this.url = 'http://' + this.url;
            }
        },
        deepCrawl: function () {
            this.status = ''
            this.validateUrl();
            let progress_interval = setInterval(() => {
                this.progresVal += 1;
            }, 1000);
            this.progresVal = 0;
            axios
            .post(DEEP_CRAWL_URL,
                {
                    url: this.url,
                    deep: this.deep,
                }
            )
            .then(response => {
                clearInterval(progress_interval);
                this.incrementalCrawling(1, response.data);
            })
            .catch(error => {
                // eslint-disable-next-line
                console.log(error);
                /* eslint-disable */
                clearInterval(progress_interval);
                if (error.response) {
                    this.status = error.response.statusText + '! ' + error.response.data
                }
                
            })
        },
        onSubmit: function () {
            this.status = ''
            axios
            .post(API_URL,
                {
                    url: [this.url],
                }
            )
            .then(response => {
                this.loadResult(response.data)
            })
            .catch(function (error) {
                if (error.response) {
                    this.status = error.response.statusText + '! ' + error.response.data
                }
            })
        },
        saveHistory: function(url, input) {
            let tmp = JSON.parse(localStorage.apis);
            let uniqueInput = tmp.filter(api => api.input != input);
            uniqueInput.push({
                url: url,
                input: input,
            });
            localStorage.apis = JSON.stringify(uniqueInput);
        },
        getHistory: function(url) {
            let tmp = JSON.parse(localStorage.apis);
            let results = [];
            for (let i = 0; i < tmp.length; i++) {
                const element = tmp[i];
                console.log(element.url);
                if (element.url == url) {
                    results.push(element.input);
                }
            }
            return results;
        },
        clearHistory: function(url) {
            let tmp = JSON.parse(localStorage.apis);
            let removeUrl = tmp.filter(api => api.url != url);
            localStorage.apis = JSON.stringify(removeUrl);
        }
    }
}
</script>
