html {
    height: 100%;
}

html, body {
    min-height: 100%;
}

body {
    position: relative;
    padding-bottom: 200px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 16px;
}

header h1 a:active,
header h1 a:hover,
header h1 a {
    text-decoration: none;
    color: #fff;
}

.demo .controls {
    padding: 10px 0;
    text-align: center;
}

.demo .controls .btn {
    margin: 10px;
}

pre code {
    font-family: Menlo, monospace;
    font-size: 12px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    padding-right: .9375rem;
    padding-left: .9375rem;
}

footer .privacy {
    margin-top: 10px;
    font-size: 10px;
    color: #999;
}

footer .privacy h5 {
    color: #999;
    font-size: 11px;
}

footer .privacy p {
    margin: 3px 0;
}

section {
    padding: 30px 0;
    padding-left: 5%;
    padding-right: 20%;
}

@media (max-width: 1024px) {
    section {
        padding-left: 0;
        padding-right: 0;
    }
    header .overview .logo {
        max-width: 100%;
    }
}

section h2, section h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.col-md-6 h2:first-child {
    margin-top: 0;
}

section h1 {
    margin-bottom: 80px;
    max-width: 61%;
}

.overview section {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

aside>ul {
    padding-left: 15px;
    margin-top: 30px;
}

aside li {
    list-style-type: none;
    margin: 5px 0;
}

aside li>a {
    display: block;
    padding: 3px 5px;
}

aside li.active, aside li:hover {
    background: rgba(0, 0, 0, 0.05);
    border-left: 4px solid #0275d8;
    margin-left: -4px;
}

aside li.active>a:hover {
    text-decoration: none;
    cursor: default;
    color: #0275d8;
}

#waveform {
    position: relative;
}

#waveform .progress {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

._carbon-container + .container-fluid {
    margin-top: 30px;
}

#carbonads {
    max-width: 400px;
    margin-left: 80px;
    margin-right: 30px;
    margin-top: 20px;
    position: absolute;
    z-index: 20;
}

@media (max-width: 767px) {
    #carbonads {
        position: static;
    }
}

.carbon-wrap {
    display: block;
    background: #F0F0F0;
    padding: 15px 10px 5px 15px;
}

.carbon-wrap:after {
    clear: both;
}

.carbon-wrap:before, .carbon-wrap:after {
    content: '';
    display: table;
}

.carbon-img {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.carbon-text {
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 170%;
    min-width: 120px;
    color: #06c;
    margin-bottom: 10px;
}

.carbon-poweredby {
    color: #6e6e6e;
    text-decoration: underline;
    font-size: 11px;
    font-style: italic;
    text-align: center;
    display: block;
    margin: 8px 0 0 0;
}

.container-fluid>.row:first-child>.col-md-2 .carbon-img {
    float: none;
    display: block;
}

.home {
    font-size: 1.2em;
}

.home pre {
    font-size: 100%;
}

.hero {
    font-size: 1.8em;
    padding: 0 5%;
}
