<!DOCTYPE html>

<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<link rel="icon" href="{{ url_for('static', filename='image/favicon_cin.png') }}" type="image/png" sizes="16x16">
	<title>Title</title>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./assets/jquery-ui.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./assets/alertify.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./assets/bootstrap.min.css') }}"/>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./assets/fontawesome-free-5.3.1-web/css/all.min.css') }}"/>
	<script type="text/javascript" src="{{ url_for('static', filename='./assets/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='./assets/jquery-ui.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='./assets/alertify.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='./assets/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='./assets/jquery.slimscroll.min.js') }}"></script>
    <style type="text/css" media="screen">
		body {
	        font-size: 14px;
	    }
		@media only screen and (max-width: 1600px) {
		    body {
		        font-size: 12px;
		    }
		}
		.se-pre-con {

            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url("{{ url_for('static', filename='image/Preloader_8.gif') }}") center no-repeat rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #loading-cancel {
            position: relative;
            top: 50px;
            display: none;
        }
		.v-scroll-div {
            display: block;
            max-height: 400px;
            overflow-y: auto; /*  vertical scroll    */
            overflow-x: hidden;
        }
        .h-scroll-div {
            display: block;
            max-height: 40px;
            overflow-x: auto; /*  horizontal scroll    */
            overflow-y: hidden;
        }
        .xlogo {
        	margin: 5px;
            width: 250px;
            height: 40px;
            /* background: url("{{ url_for('static', filename='image/left_logo.png') }}") scroll no-repeat left center transparent; */
            background-size: 80% 80%;
        }
        .ylogo {
        	margin: 5px;
            width: 250px;
            height: 40px;
            /* background: url("{{ url_for('static', filename='image/right_logo.png') }}") scroll no-repeat left center transparent; */
            background-size: 80% 80%;
        }
        .main-header {
            background: url("{{ url_for('static', filename='image/header.png') }}") scroll no-repeat left center transparent;
            background-size: 100% 100%;
        }
        .navbar-header {
        	/*background-color: #3c8dbc;*/
        	min-height: 50px;
        }
        .main-footer {
            padding-top: 2px;
            /* padding-bottom: 2px; */
			display: block;
			position: fixed;
			bottom: 24px;
			text-align: center;
			vertical-align: middle;
			width: 100%;
            height: 15px;
            border-top: 1px solid #e5e5e5;
		}

		#footer-div{
            transform: translate(-30px);
			margin-bottom: 5px;
		}
		#footer-label{
			opacity: 0.4;
			padding-top: 8px;
			padding-right: 0px;
			text-align: right;
			float: left;
			font-size: small;
		}

		.footer-img-div{
			height: 35px;
			text-align: left;
		}

		#footer-img{
			max-height: 100%;
		}
	</style>

	<!-- remove this if you use Modernizr -->
	<script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
</head>

<body>
<header class="main-header">
	<div class="navbar-header">
        <a href="#" class="navbar-brand xlogo"></a>
        <a href="#" class="float-right navbar-brand ylogo"></a>
    </div>
</header>
<div class="container" role="main">
	{% block content %}(no content){% endblock %}
</div>
<!-- <footer class="main-footer">
	<div id="footer-div" class="row">
	  <div class="col-lg-6" id="footer-label">Powered by
	  </div>
	  <div class="footer-img-div col-lg-6">
			<img id="footer-img" src="{{ url_for('static', filename='image/logo.png') }}"/>
	  </div>
	</div>
</footer> -->
<div class="se-pre-con">
    <button id="loading-cancel" onclick="cancelTask()" class="btn btn-sm btn-default"><span class="fa fa-close"></span> Stop</button>
</div>
<script>
    window.addEventListener("pageshow", function (event) {
        var historyTraversal = event.persisted ||
            ( typeof window.performance != "undefined" &&
                window.performance.navigation.type === 2 );
        if (historyTraversal) {
            // Handle page restore.
            window.location.reload();
        }
    });
    window.onload = function () {
        $(".se-pre-con").fadeOut('fast');
    };
    $(function () {
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        // $(window).on('load',function () {
        //     $(".se-pre-con").fadeOut('slow');
        // });
        $(window).on('unload',function () {
            $(".se-pre-con").fadeIn();
        });
        $("a[href]:not([download]):not([data-toggle='tab'])").click(function (e) {
            var that = this;
            e.preventDefault();// for safari, firefox
            $(".se-pre-con").fadeIn(300, function () {
                if ($('#page_sign_stay').text() == 0) {
                    window.location.assign(that.attributes['href'].value);
                } else {
                    $(".se-pre-con").fadeOut();
                    $('#page_sign_stay').text('0');
                }
            });
        });

        $(document).ajaxStart(function () {
            $(".se-pre-con").fadeIn();
        });
        $(document).ajaxStop(function () {
            $(".se-pre-con").fadeOut("slow");
        });
    });
    var xhrPool = [];
    var is_cancel = false;
    function cancelTask() {
        $('#loading-cancel').hide();
        is_cancel = true;
        $.each(xhrPool, function(idx, jqXHR) {
              jqXHR.abort();
        });
    }
    function template_post(url, json_data, callback, callback_params, fail_callback, fail_param) {
        xhrPool = [];
        is_cancel = false;
        $('#loading-cancel').show();
        var xhr = $.post(
            url,
            json_data,
            function(data, status) {
                $('#loading-cancel').hide();
                console.log(data);
                if (callback) {
                    callback(callback_params);
                }
            }
        )
        // .done(function() { alert('Request done!'); })
        .fail(function(jqxhr, settings, ex) { 
            // alert('failed, ' + ex);
            if (fail_callback) {
                fail_callback(ex, fail_param);
            }
        });
        xhrPool.push(xhr);
        return xhr;
    }

    function template_get(url, json_data, callback, callback_params, fail_callback, fail_param) {
        xhrPool = [];
        is_cancel = false;
        $('#loading-cancel').show();
            var xhr = $.get(url,
            json_data,
            function(data, status) {
                $('#loading-cancel').hide();
                console.log(data);
                if (callback) {
                    callback(data, callback_params);
                }
            }
        )
        // .done(function() { alert('Request done!'); })
        .fail(function(jqxhr, settings, ex) { 
            // alert('failed, ' + ex);
            if (fail_callback) {
                fail_callback(ex, fail_param);
            }
        });
        xhrPool.push(xhr);
        return xhr;
    }

    function template_request(url, form_data, callback, callback_params, fail_callback, fail_param) {
        xhrPool = [];
        is_cancel = false;
        $('#loading-cancel').show();
        return $.ajax({
            url: url,
            type: 'POST',
            data: form_data,
            cache: false,
            processData: false,
            contentType: false,
            responseType: 'json',
            beforeSend: function (xhr) {
                xhrPool.push(xhr);
            },
            success: function (data, status, xhr) {
                try {
                    if(callback) {
                        callback(data, callback_params);
                    }
                }
                catch (err) {
                    console.log(err);
                    alert('error');
                }                        
            },
            error: function (jqxhr, settings, ex) {
                if (fail_callback) {
                    fail_callback(ex, fail_param);
                }
            },
            statusCode: {
                404: function() {
                    alert( "page not found" );
                },
                500: function() {
                    alert( "server error" );
                },
            }
        });
        // You can use jqXHR.done(), jqXHR.fail(), and jqXHR.always().
    }
    localStorage.apis = '[]';
    function save_history(url, input, data) {
        var tmp = JSON.parse(localStorage.apis);
        uniqueInput = tmp.filter(api => api.input != input);
        uniqueInput.push({
            url: url,
            input: input,
            // data: data
        });
        localStorage.apis = JSON.stringify(uniqueInput);
    }
    function get_history(url) {
        var tmp = JSON.parse(localStorage.apis);
        var results = [];
        for (let i = 0; i < tmp.length; i++) {
            const element = tmp[i];
            console.log(element.url);
            if (element.url == url) {
                results.push(element.input);
            }
        }
        return results;
    }
    function clear_history(url) {
        var tmp = JSON.parse(localStorage.apis);
        removeUrl = tmp.filter(api => api.url != url);
        localStorage.apis = JSON.stringify(removeUrl);
    }
</script>
<div hidden id="page_sign_stay">0</div>
</body>

</html>