{% extends 'base.html' %}
{% block content %}
<div class="row">
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}" />
    <div class="col-sm-12">
        <div style="margin-top: 16px;" class="header">
            <!-- <div style="float:right">
                <button class="btn btn-default" title=""><a href="/link/" title=""><i class="fas fa-user-edit" title=""></i></a></button>
            </div> -->
            <h1 class="float-right">
                <!-- <button class="btn btn-default"><a href="/"><i class="fa fa-home"></i></a></button> -->
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                    </li>
                </ul>
            </h1>

            <h3>Feature Name</h3>
            
        </div>
        <form id="main_form" method="POST">
            Input:<br>
            <textarea id="main_form_input" rows="5" cols="70" name="text" placeholder="Raw text here..."></textarea>
            <br><br>

            <input type="submit" value="process" name="submit"><br>
        </form>

        <!--<hr align="left" width="30%">-->
        <p id="main_form_result"></p>
        <p id="server_response_error"></p>
    </div>
    <script>
        // Navbar links
        var ul = document.querySelector('.nav-pills');
        var pills = ul.querySelectorAll('li');
        var active = pills[0];
        if (location.search) {
            var first = location.search.split('&')[0];
            var link = ul.querySelector('a[href="' + first + '"]');
            if (link) {
                active = link.parentNode;
            }
        }
        active && active.classList.add('active');

        var xhrPool = [];
        var files = [];
        var form = $('#main_form');
        form.on('submit', function (event) {
            event.preventDefault();
            var input = form.children('#main_form_input').val();
            $('#loading-cancel').show();
            var xhr = $.post('/demo/api/',
            {
                url: input,
            },
            function(data, status) {
                $('#loading-cancel').hide();
                console.log(status);
                $('#server_response_error').text("Status: " + status);
                console.log(data);
                $('#main_form_result').text(data);
            })
            // .done(function() { alert('Request done!'); })
            .fail(function(jqxhr, settings, ex) { 
                // alert('failed, ' + ex);
                $('#server_response_error').text("Status: failed, " + ex);
            });
            xhrPool.push(xhr);
        })
    </script>
</div>

{% endblock %}