{% extends 'base.html' %}
{% block content %}
<div class="row">
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}" />
    <div class="col-sm-12">

    </div>
    <script>
        // Navbar links
        var ul = document.querySelector('.nav-pills');
        var pills = ul.querySelectorAll('li');
        var active = pills[0];
        if (location.search) {
            var first = location.search.split('&')[0];
            var link = ul.querySelector('a[href="' + first + '"]');
            if (link) {
                active = link.parentNode;
            }
        }
        active && active.classList.add('active');

        var xhrPool = [];
        var files = [];
    </script>
</div>

{% endblock %}