{% extends 'base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue-bootstrap4-table@1.1.10/dist/vue-bootstrap4-table.min.js" crossorigin="anonymous"></script>
<script src="http://chancejs.com/chance.min.js"></script>
<script src="https://unpkg.com/vuewordcloud"></script>
<link
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    rel="stylesheet"
/>
<link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
    rel="stylesheet"
/>
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.2.3/vuetify.min.css"
    rel="stylesheet"
/>
<style>
    .v-no-animation .v-progress-circular__overlay {
        transition-duration: 0s;
    }
    #main_form_input {
        border: solid 1px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.2.3/vuetify.min.js"></script>
<script src="https://unpkg.com/@seregpie/vuesvg@18.7.9"></script>
<link
    href="https://fonts.googleapis.com/css?family=Abril+Fatface|Annie+Use+Your+Telescope|Anton|Bahiana|Baloo+Bhaijaan|Barrio|Finger+Paint|Fredericka+the+Great|Gloria+Hallelujah|Indie+Flower|Life+Savers|Londrina+Sketch|Love+Ya+Like+A+Sister|Merienda|Nothing+You+Could+Do|Pacifico|Quicksand|Righteous|Sacramento|Shadows+Into+Light"
    rel="stylesheet"
/>
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
    rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.16/chance.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.0.13/fontfaceobserver.standalone.js"></script>
{% raw %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="float-right">
            <!-- <button class="btn btn-default"><a href="/"><i class="fa fa-home"></i></a></button> -->
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                </li>
            </ul>
        </h1>
        <div>
            <h3 id="instruction">{{ message }}</h3>
    
            <form id="main_form" method="POST">
                <textarea id="main_form_input" rows="2" cols="100" name="text" placeholder="Type url here... (eg. https://www.jpf.go.jp/j/index.html)"></textarea>
                <br><br>
                <div class="float-right" style="margin-top: 15px;">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  id="main_form_check" name="main_form_check" value="yes">Aggregate Result
                        </label>
                    </div>
                </div>
                <input type="submit" value="Submit" name="submit" class="btn btn-primary"><br>
                
            </form>
            <p id="server_response_error"></p>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#menu1">Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Order List (Bindging)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu3">Order List (Component)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#home">Word Cloud</a>
                </li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="menu1">
                    <div id="table">
                        <vue-bootstrap4-table :rows="rows" :columns="columns" :actions="actions" :config="config" @on-download="onDownload" :classes="classes">
                        </vue-bootstrap4-table>
                    </div>
                </div>
                <div class="tab-pane container fade" id="menu2">
                    <div id="main_form_result">
                        <ol>
                            <li v-for="word in words">
                            {{ word[0]}}({{word[1]}})
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="tab-pane container fade" id="menu3">
                    <div id="main_form_result2">
                        <ol>
                            <word-item
                            v-for="word in words"
                            v-bind:word="word"
                            v-bind:key="word[0]"
                            ></word-item>
                        </ol>
                    </div>
                </div>
                <div class="tab-pane container fade" id="home">
                    <v-app v-cloak id="app">
                        <v-content>
                            <v-container fill-height hide-overflow>
                                <div style="height: 100%;position: relative;width: 100%;">
                                    <div
                                        :style="(progressVisible && progress)
                                            ? {
                                                filter: 'blur(8px)',
                                                opacity: 0.3,
                                                pointerEvents: 'none',
                                                transform: 'scale(0.7,0.7)',
                                            }
                                            : {}
                                        "
                                        style="bottom: 0;left: 0;position: absolute;right: 0;top: 0;transition-duration: 1s;"
                                    >
                                        <vue-word-cloud
                                            :animation-duration="animationDuration"
                                            :animation-easing="animationEasing"
                                            :animation-overlap="animationOverlap"
                                            :color="color"
                                            :enter-animation="enterAnimation"
                                            :font-family="fontFamily"
                                            :font-size-ratio="fontSizeRatio"
                                            :leave-animation="leaveAnimation"
                                            :load-font="loadFont"
                                            :progress.sync="progress"
                                            :rotation="rotation"
                                            :spacing="spacing"
                                            :words="words"
                                        >
                                            <template slot-scope="props">
                                                <v-tooltip top>
                                                    <div
                                                        slot="activator"
                                                        style="cursor: pointer;"
                                                        @click="onWordClick(props.word)"
                                                    >{{ props.text }}</div>
                                                    <div
                                                        style="text-align: center;"
                                                    >{{ props.text }}<br/>({{ props.weight }})</div>
                                                </v-tooltip>
                                            </template>
                                        </vue-word-cloud>
                                    </div>
                                    <v-scale-transition>
                                        <v-progress-circular
                                            v-if="progressVisible && progress"
                                            :rotate="-90"
                                            :size="200"
                                            :value="(progress.completedWords / progress.totalWords) * 100"
                                            :width="20"
                                            class="v-no-animation"
                                            color="primary"
                                            style="
                                                bottom: 0;
                                                left: 0;
                                                margin: auto;
                                                position: absolute;
                                                right: 0;
                                                top: 0;
                                            "
                                        >{{ progress.completedWords }} of {{ progress.totalWords }}</v-progress-circular>
                                    </v-scale-transition>
                                </div>
                            </v-container>
                        </v-content>
                        <v-snackbar
                            :timeout="2000"
                            bottom
                            v-model="snackbarVisible"
                        >{{ snackbarText }}</v-snackbar>
                    </v-app>
                </div>
            </div>
        </div>
    </div>
</div>
{% endraw %}
<script src="{{ url_for('static', filename='./vue_app.js') }}"></script>
<script>
    // ------------------------------------------------------------
    // Navbar links
    var ul = document.querySelector('.nav-pills');
    var pills = ul.querySelectorAll('li');
    var active = pills[0];
    if (location.search) {
        var first = location.search.split('&')[0];
        var link = ul.querySelector('a[href="' + first + '"]');
        if (link) {
            active = link.parentNode;
        }
    }
    active && active.classList.add('active');

    // var xhrPool = [];
    var files = [];
    var form = $('#main_form');
    function load_result(data) {
        main_form_result.words = JSON.parse(data);
        main_form_result2.words = main_form_result.words;
        let words = [];
        for (let i = 0; i < main_form_result.words.length; i++) {
            const element = main_form_result.words[i];
            var word = {
                Order : i,
                Word: element[0],
                Count: element[1],
            }
            words.push(word);
        }
        table.rows = words;
        draw_cloud_word(main_form_result2.words);
    }
    form.on('submit', function (event) {
        event.preventDefault();
        var input = form.children('#main_form_input').val();
        crawl(input);
        // deep_crawl(input);
    });

    function crawl(url) {
        $('#loading-cancel').show();
        var main_form_check = document.getElementById('main_form_check')
        if (!main_form_check.checked) {
            var urls = [url];
            clear_history('/api/hist/');
        } else {
            var urls = get_history('/api/hist/');
            urls.push(url);
        }
        var xhr = $.post('/api/hist/',
        {
            url: urls,
        },
        function(data, status) {
            $('#loading-cancel').hide();
            console.log(status);
            $('#server_response_error').text("Status: " + status);
            load_result(data);
        })
        .done(function(data) { 
            save_history('/api/hist/', url, data);
            // alert('Request done!'); 
        })
        .fail(function(jqxhr, settings, ex) { 
            // alert('failed, ' + ex);
            $('#server_response_error').text("Status: failed, " + ex);
        });
        xhrPool.push(xhr);
    }
    function incremental_crawling(i, urls) {
        if (i > urls.length) return;
        var xhr = $.post('/api/hist/',
        {
            url: urls.slice(0, i),
        },
        function(data, status) {
            load_result(data);
        })
        .done(function(data) { 
            incremental_crawling(i + 1, urls)
        })
        .fail(function(jqxhr, settings, ex) { 
            $('#server_response_error').text("Status: failed, " + ex);
        });
        xhrPool.push(xhr);
    }
    function deep_crawl(url) {
        // $('#loading-cancel').show();
        var xhr = $.post('/api/demo/',
        {
            url: url,
            deep: 3,
        },
        function(data, status) {
            // $('#loading-cancel').hide();
            var urls = JSON.parse(data);
            incremental_crawling(1, urls);
        })
        // .done(function() { alert('Request done!'); })
        .fail(function(jqxhr, settings, ex) { 
            // alert('failed, ' + ex);
            $('#server_response_error').text("Status: failed, " + ex);
        });
        xhrPool.push(xhr);
    }
</script>
{% endblock %}