.xxx {
background-color: #f6f7fa;
border-button-color: #dadee7;
background-button-delete: #c60101;
placeholder-color: #8492af;
text-light-color: #8492af;
text-color: #000000;
text-color-activate: #36a2be;
text-color-inactivate: #b2e6f3;
}

